@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(240,240,240);
}

main {
    display: flex;
    padding: 10px;
    gap: 0.2em;
    flex-wrap: wrap;
    justify-content: space-between;
}

#wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

h1 {
    font-weight: bold;
    background: -webkit-linear-gradient(212deg,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 0.5em;
}

#node {
    background: #3F5EFB;
    background: linear-gradient(212deg,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    flex-basis: calc(25% - 0.2em);
    padding: 1em;
    border-radius: 0.5em;
}

#node:hover {
    transform: scale(102%);
    transition: all 0.5s ease-out;
}

#node h2 {
    margin: 0;
    color: rgb(255,255,255);
    padding-bottom: 1em;
}

#node table td {
    color: rgb(255,255,255);
    font-size: 1.3em;
}

#node table td:first-child {
    width: 120px;
}

#node button {
    width: 100%;
    border: 2px;
    border-color: linear-gradient(212deg,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    border-style: solid;
    border-radius: 0.5em;
    padding: 12px;
    background: transparent;
    color:rgb(255,255,255);
    font-size: 1.3em;
    transition: all 0.2s ease-in;
}

#node button:hover {
    background-color: rgba(63, 94, 251, 1);
    border-color: transparent;
    transition: all 0.2s ease-out;
}

@media screen and (max-width: 1250px) {
    #node {
        flex-basis: calc(33.333333333% - 0.2em);
    } 
}

@media screen and (max-width: 1000px) {
    #node {
        flex-basis: calc(50% - 0.2em);
    } 
}

@media screen and (max-width: 632px) {
    #node {
        flex-basis: 100%;
    }
}