@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(31,31,31);
}

main {
    display: flex;
    padding: 10px;
    /* Distanz zur Höhe des Footers */
    margin-bottom: 100px;
    gap: 0.4em;
    flex-wrap: wrap;
    justify-content: space-between;
}

#wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

h1 {
    font-weight: bold;
    background: linear-gradient(212deg,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 0.5em;
}


#node {
    background: #3F5EFB;
    background: linear-gradient(212deg,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    flex-basis: calc(25% - 0.4em);
    padding: 1em 1em 0.5em 1em;
    border-radius: 0.5em;
    transition: all 0.2s ease-in;
}

#node:hover {
    transform: scale(101%);
    transition: all 0.5s ease-out;
}

#node h2, #node h3 {
    margin: 0;
    color: rgb(255,255,255);
}

#node h3 {
    padding: 0;
    font-size: 0.8em;
    padding-bottom: 0.8em;
}

#node-state-ok {
    color: lime;
}

#node-state-error {
    color: tomato;
    font-weight: bolder;
}

#node table td {
    color: rgb(255,255,255);
    font-size: 1.3em;
}

#node table td:first-child {
    width: 120px;
}

#node button {
    width: 100%;
    border: 2px;
    border-color: linear-gradient(212deg,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    border-style: solid;
    border-radius: 0.5em;
    padding: 12px;
    background: transparent;
    color:rgb(255,255,255);
    font-size: 1.3em;
    transition: all 0.2s ease-in;
}

#node button:hover {
    background: linear-gradient(45deg,rgba(63, 94, 251, 1) 70%, rgba(252, 70, 107, 1) 100%);
    border-color: transparent;
    transition: all 0.2s ease-out;
}

footer {
    position: fixed;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 0;
    bottom: 0;
    color: rgb(255,255,255);
    background-color: rgb(51,51,51);
}

@media screen and (max-width: 1250px) {
    #node {
        flex-basis: calc(33.333333333% - 0.4em);
    } 
}

@media screen and (max-width: 1000px) {
    #node {
        flex-basis: calc(50% - 0.2em);
    } 
}

@media screen and (max-width: 632px) {
    #node {
        flex-basis: 100%;
    }

    header {
        background-color: rgb(31,31,31,0.9);
        width: 100%;
        position: sticky;
        top: 0;
        left:0;
        z-index: 5;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    footer {
        background-color: rgb(51,51,51,0.95);
    }
}